
#box {
    width:100%;
    height:430px;
  
    /* border: 2px solid lawngreen; */
    position: relative;
    
    overflow: hidden;
  
  
}

/* ul大盒子 */
#list1 {
    /* width: 3100px; */
    height:430px;
    position: absolute;
    left: 0;
    top: 0;
}
#list1 li {
  
    height:430px;
}
 
#list1 li img{width:948px;   height:430px;}

#list1 li {
    float: left;
}



/* 轮滑点 */
#list2  {
    width: 150px;
    height: 20px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
#list2 li {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    background: yellow;
    text-align: center;
    line-height: 18px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
}

#list2 li.active {
    background: green;
}

#prev, #next {
    width: 24px;
    height: 56px;
  
    position: absolute;
    top: 45%;
    cursor: pointer;
} 
#prev {
    position: absolute;
    background: url(/st/common/img/banner/jin1.png)no-repeat -40px -302px;
    z-index: 3;
    left: 200px;
}
#next {
    background: url(/st/common/img/banner/jin1.png)no-repeat -65px -300px;
    right: 0;
}
