<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>


   
    <link rel="stylesheet" type="text/css" href="/st/common/css/marst.css"/>
    <link rel="stylesheet" type="text/css" href="/st/common/css/login_02.css"/>

    <script src="/st/common/js/jquery-1.12.3.js"></script>
       <script src="/st/common/js/gVerify.js"></script>
    <!-- <script src="../js/cookiea.js"></script> --> 
    <script src="/st/common/js/login_03.js"></script>
    







</head>
<body>
    <div class="top">
			
	<div class="main">
     <a href="/"> <img class="m1" src="/st/common/img/smell/logo.jpg" /></a> 
    <img class="m2" src="/st/common/img/smell/top_center1.jpg" />
</div>

</div>
    
    
    <!--
        作者：offline
        时间：2018-01-11
        描述：主内容
    -->
    <div class=" main really">


<div class="debut">
    <a href="#"><img src="/st/common/img/smell/ce.jpg" />                   </a>				
</div>







<div class="climbing">

<p> <span class="ga1">登录快乐购</span> <span class="ga2">还没有账号</span> <a id="helm"  href="/register">快速注册</a>          </p>

<div id="culti">
    
    <input type="radio"  type="radio" name="rel" id="hot" />快捷登录 
    <input type="radio"  type="radio" name="rel" checked="checked"  />普通密码登录 

    
</div>

<!--
    作者：offline
    时间：2018-01-06
    描述：快捷+普通登录
-->

    <div id="chasm">
        
        <ul id="gulf">
            
            
            
            <li class="street02">
                  
                
                
                
            </li>
            
            
            
            <li class="street02">
                
                 <table id="dhd" cellspacing="0">
                       <tr>
                           <td class="fers1"> <input  name="phone"  id="yonhu" type="text" placeholder="已验证手机号" />        </td>
                       </tr>
                     
                       <tr>
                           <td class="fers1"> <input name="psd"   id="pwd22" type="password" placeholder="密码" />        </td>
                       </tr>
                     
                       <tr>
                           <td class="fers2">   
                               <input type="text" placeholder="验证码" />            
                                <div id="v_container" style="width: 150px;height: 50px;   float: right;"></div>
                           </td>
                        
                       </tr>  
                     
                       
                       <tr>
                          <td class="fers3">  
                               <span>  <input id="ciuy" type="checkbox" />记住用户名       </span>                          
                                 <a    href="#">忘记密码?</a>
                             </td>
                       </tr>
                     
                     
                     
                     <tr>
                           <td class="fers4"> 
                                <a  id="leap"   href="#">立即登录</a>
                           </td> 
                       
                     </tr>
                     
                     
                 </table>
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
            </li>
            
            
            
        </ul>
        

        
        
    </div>
    
    
    
    
    
    
    
    
    
    
</div>











</div>
</body>
</html>