<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="st/common/css/marst.css"/>
    <link rel="stylesheet" type="text/css" href="st/common/css/regist_02.css"/>
   
    <script src="/st/common/js/jquery-1.12.3.js"></script>
   <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
  
   <script src="/st/common/js/register_03.js"></script>

</head>



<body>
    <div class="main">
		
		
    </div>
    
    <div class="main top">
    <a href="/"><img class="m1" src="/st/common/img/smell/logo.jpg" /></a>
    <img class="m2" src="/st/common/img/smell/top_center1.jpg" />
    </div>
<div class="main really">

<!-- 左边新人注册logo -->
<div class="debut">
    <a href="#"><img src="/st/common/img/smell/ce.jpg" />                   </a>				
</div>


<!-- 右边table表格 -->
<div class="smit">
    
  
        <table id="table" cellspacing="0">
            <tr class="wath">
                <td><h1>用户注册</h1>    
                     <p> 已有账号<span> <a href="login">在此登录</a>  </span>      </p>
                </td>
                <td class="vigu">  </td>
            </tr>
            
            <!--  注册信息表        -->
            <tr>
                <td><input name="nic"  type="text"placeholder="昵称" />    </td>
                <td class="pract">  </td>
            </tr>

            
            <tr>
                <td><input  name="phone"   type="text"placeholder="11位手机号" />    </td>
                <td class="pract"><img class="tick" src="/st/common/img/smell/yes.png" /> <span class="acter">dhddj</span> </td>
            </tr>
            
            
            <tr>
                <td>
                    <input class="duanxin" type="text"placeholder="手机验证码" /> 
                    <button id="notice">3345</button> 
                </td>
                
                <td class="pract"><img class="tick" src="/st/common/img/smell/yes.png" /> <span class="acter">dhddj</span> </td>
            </tr>
            
            
            <tr>
                <td><input name="psd"   type="password"placeholder="请输入密码" />    </td>
                <td class="pract"><img class="tick" src="/st/common/img/smell/yes.png" /> <span class="acter">dhddj</span> </td>
            </tr>
            
            
            <tr>
                <td  id="rank"   colspan="2"> <span>低</span>  <span>中</span> <span>高</span> </td>
                
            </tr>
            
            <tr>
                <td><input name="rePsd"   type="password"placeholder="确认密码" />    </td>
                <td class="pract"><img class="tick" src="/st/common/img/smell/yes.png" /> <span class="acter">dhddj</span> </td>
            </tr>
            
            
            
            
           
            
            
            <tr >
                <td colspan="2"> <a id="reg" href="#">注册</a>   </td>
                
            </tr>
            
            
    </table>

    
     <div id="toast"></div>
 
  </div>
    
    
    
    
</div>




</div>

    

</body>




</html>